<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MOVIES__BOOKING.My.MySettings.Movie_DatabaseConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Movie_Database.mdb"
            providerName="System.Data.OleDb" />
        <add name="MOVIES__BOOKING.My.MySettings.MOVIESSConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MOVIESS.mdb"
            providerName="System.Data.OleDb" />
        <add name="MOVIES__BOOKING.My.MySettings.FinalConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Final.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>